/*global style*/
body {
	font-family: 'Lato', sans-serif;
	font-family: 'Titillium Web', sans-serif;
	background-color: #34495e;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
}
/*header style*/
.header {
	margin-top: 7px;
	background-color: #ffffff;
	height: 77px;
}
.conteiner {
	width: 1170px;
	margin: 0 auto;
}
/*fix float*/
.row:after {
	content: "";
	clear: both;
	display: block;
}
/*logo*/
.logo {
	padding: 24px 0 25px 0;
	float: left;
}
/*menu*/
.nav {
	float: right;
	margin: 20px 0 22px 0px;
}
.menu-item {
	float: left;
	height: 35px;
	width: 77px;
	padding: 0 3px;
}
.menu-link {
	display: block;
	font-size: 13px;
  	font-family: "Lato";
  	color: rgb(189, 195, 199);
  	font-weight: bold;
  	text-transform: uppercase;
  	line-height: 35px;
  	text-align: center;
}
.menu-item:hover .menu-link {
	background-color: rgb(26, 188, 156);
	border-radius: 2px; 
	color: #ffffff;
}
/*search in header*/
.search-field {
	display: none;
}
.search {
	margin: 29px 2px 32px 20px;
	background: url(image/Search.png) no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}
/*second part of header, blog-name*/
.tagline {
	height: 282px;
	background-color: #e8e8e8;
	background: url(image/background-img.png);
}
.blog {
  	font-size: 42px;
  	font-family: "Lato";
  	color: rgb(255, 255, 255);
  	line-height: 50px;
  	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
  	text-transform: uppercase;
  	padding-top: 60px;
}
.nav-link {
	display: block;
	width: 190px;
  	font-size: 15px;
  	font-family: "Lato";
  	color: rgb(255, 255, 255);
  	margin: 20px 3px;
}
/*main block*/
.wrapper {
	padding: 0 15px;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: -90px;
}
.left-column {
	width: 770px;
	margin: 0 15px;
	float: left;
}
.right-column {
	margin: 0 15px;
	width: 310px;
	float: right;
}
/*post blocks*/
.post-block {
	margin: 30px 0;
}
.img {
	border-radius: 2px;
  	background-color: rgb(26, 188, 156);
}
.type-box {
	display: block;
  	border-radius: 2px;
  	background: url(image/type-pen.png) no-repeat 50% 50%;
  	background-color: rgb(26, 188, 156);
  	width: 59px;
  	height: 58px;
  	margin: 20px 20px 20px 0;
  	float: left;
}
.title {
  	font-size: 22px;
  	font-family: "Lato";
  	color: rgb(52, 73, 94);
  	float: left;
  	margin-top: 25px;
}
/*calendar, comments, location, views*/
.meta {
	float: left;
}
.meta-item {
	float: left;
	width: 115px;
	margin: 14px 27px 0 0;
	font-size: 14px;
  	font-family: "Lato";
  	color: rgb(208, 211, 215);
}
.calendar {
	background: url(image/calendar.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 13px
}
.comments {
	background: url(image/Comments.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 13px
}
.location {
	background: url(image/Location.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 13px
}
.views {
	background: url(image/views.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 13px
}
/*like*/
.heart {
	background: url(image/Heart.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 5px
}
.like {
	margin-top: 14px;
	font-size: 14px;
  	font-family: "Lato";
  	color: rgb(208, 211, 215);
  	float: right;
}
